<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>

    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="~/LIB/css/materialize.min.css" media="screen,projection" />
    <link href="~/Lib/Css/Geral.css" rel="stylesheet" type="text/css">

</head>
<body>


    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="~/LIB/scripts/materialize.min.js"></script>
    <script src="~/Lib/scripts/jquery.mask.js"></script>

    @RenderBody()
</body>
</html>
